@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">10ten Studios Online Task Manager</h1>

        <a style="color:black" asp-controller="TaskInfoes" asp-action="Create">Add Task</a>
        <a style="color:black" asp-controller="TaskInfoes" asp-action="Index">See Task List</a>

    </div>
